* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container-lg {
  max-width: 1170px;
  margin: auto;
}

.row {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

[class*="col-"] {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border: 1px solid white;
  background-color: blue;
}

.col-1 {
  flex-grow: 1;
  flex-basis: calc((100% / 12) * 1);
}

.col-2 {
  flex-grow: 1;
  flex-basis: calc((100% / 12) * 2);
}

.col-3 {
  flex-grow: 1;
  flex-basis: calc((100% / 12) * 3);
}

.col-4 {
  flex-grow: 1;
  flex-basis: calc((100% / 12) * 4);
}

.col-5 {
  flex-grow: 1;
  flex-basis: calc((100% / 12) * 5);
}

.col-6 {
  flex-grow: 1;
  flex-basis: calc((100% / 12) * 6);
}

.col-7 {
  flex-grow: 1;
  flex-basis: calc((100% / 12) * 7);
}

.col-8 {
  flex-grow: 1;
  flex-basis: calc((100% / 12) * 8);
}

.col-9 {
  flex-grow: 1;
  flex-basis: calc((100% / 12) * 9);
}

.col-10 {
  flex-grow: 1;
  flex-basis: calc((100% / 12) * 10);
}

.col-11 {
  flex-grow: 1;
  flex-basis: calc((100% / 12) * 11);
}

.col-12 {
  flex-grow: 1;
  flex-basis: calc((100% / 12) * 12);
}

.col-6 > .row {
  width: 95%;
}

.col-6 > .row > [class*="col-"] {
  border: 1px solid blue;
  background-color: rgb(129, 188, 10);
  height: 30px;
}

.col-offset-1 {
  margin-left: calc((100% / 12) * 1);
}

.col-offset-2 {
  margin-left: calc((100% / 12) * 2);
}

.col-offset-3 {
  margin-left: calc((100% / 12) * 3);
}

.col-offset-4 {
  margin-left: calc((100% / 12) * 4);
}

.col-offset-5 {
  margin-left: calc((100% / 12) * 5);
}

.col-offset-6 {
  margin-left: calc((100% / 12) * 6);
}

.col-offset-7 {
  margin-left: calc((100% / 12) * 7);
}

.col-offset-8 {
  margin-left: calc((100% / 12) * 8);
}

.col-offset-9 {
  margin-left: calc((100% / 12) * 9);
}

.col-offset-10 {
  margin-left: calc((100% / 12) * 10);
}

.col-offset-11 {
  margin-left: calc((100% / 12) * 11);
}

@media screen and (max-width: 991px) {
  .container-md {
    max-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .col-6 > .row > [class*="col-"] {
    font-size: .7rem;
  }
}

@media screen and (max-width: 576px) {
  .container-sm {
    min-width: 320px;
  }
  
  .col-6 > .row > [class*="col-"] {
    font-size: .5rem;
  }
}